.EoJugVt4{color:hsla(0,0%,100%,.8);text-decoration:none;font-size:16px;transition:color .3s ease;line-height:21px;font-weight:400;padding:20px 18px}.EoJugVt4:hover{color:#fff}.EoJugVt4.ck6UsV3m{color:#fff;background-color:#1e88e5}
.Yq2gB_mH{display:flex;max-width:1200px;margin:0 auto}
.ti_pppXr{background-color:#2196f3;box-shadow:0 2px 4px rgba(0,0,0,.4);margin-bottom:36px}
