.error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #ffebee;
    border-radius: 8px;
    border: 1px solid #ffcdd2;
}

.text {
    color: var(--color-error);
    font-size: 16px;
    text-align: center;
}
