.likeButton {
    background-color: transparent;
    position: absolute;
    right: var(--spacing-md);
    bottom: var(--spacing-md);
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    opacity: 0;

    .icon {
        width: 40px;
        height: 40px;
        color: var(--color-like);
		
        &:active,
        &:hover {
            fill: var(--color-like);
            stroke: var(--color-like);
        }
    }

    &[data-like='true'] {
        opacity: 1;
    }
}
