@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    // Цвета
    --color-primary: #1e88e5;
    --color-error: #c62828;
    --color-background: #ffffff;
    --color-text: #333333;
	--color-like: #ff4444;
    
    // Размеры шрифтов
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 24px;
    
    // Отступы
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    
    // Тени
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.5);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.5);
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.5);
    
    // Максимальная ширина контента
    --max-width: 1200px;

    // Размеры карточек
	--card-size: 225px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-md);
    color: var(--color-text);
    line-height: 1.5;
    background-color: var(--color-background);
}

img {
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
}

// Дополнительные глобальные стили
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}