.link {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: var(--font-size-md);
    transition: color 0.3s ease;
    line-height: 21px;
    font-weight: 400;
    padding: 20px 18px;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &.active {
        color: white;
        background-color: var(--color-primary);
    }
}
